// Jumbotron Header
header.jumbotron.hero-spacer
  h1 Welcome to #{appTitle}!
  .row
    .col-sm-10.col-sm-push-1
      form(action='#', name='search-group' autocomplete='off')
        .input-group.input-group-lg.input-group-search
          input.form-control(name='search', type='search', placeholder='Search for...', maxlength='300')
          span.input-group-btn
            button.btn.btn-default(type='submit') Search!
        .row
          .col-sm-6
            .input-group.input-group-sm
              span#basic-addon1.input-group-addon Year filter:
              input.form-control(name='year', type='number', placeholder='Year', min='1700', max='2020')
          .col-sm-6
            .input-group.input-group-sm
              span#basic-addon1.input-group-addon Type filter:
              input.form-control(name='type', type='text', placeholder='Type (movie, series, episode, game)')
