extends layout

block content
  #alert-block-container.row
  include components/jumbotron.jade
  hr
  #movies-container-favourite.row.text-center
  #movies-container.row.text-center
  nav#pagination-container.text-center(aria-label='Page navigation')
